<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhizhong.feishou">
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication"
        >
        <activity
            android:name="com.zhizhong.feishou.module.home.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--忘记密码-->
        <activity android:name=".module.my.activity.ForgetPWDActivity"/>
        <!--我的资料-->
        <activity android:name=".module.my.activity.MyDataActivity"/>
        <!--登录-->
        <activity android:name=".module.my.activity.LoginActivity"
                  android:windowSoftInputMode="adjustResize"
            />
        <!--我的订单-->
        <activity android:name=".module.my.activity.MyOrderActivity"/>
        <!--实名认证-->
        <activity android:name=".module.my.activity.RealNameAuthActivity"/>
        <!--注册-->
        <activity android:name=".module.my.activity.RegisterActivity"/>
        <!--我的等级-->
        <activity android:name=".module.my.activity.VIPLevelActivity"/>
        <!--我的钱包-->
        <activity android:name=".module.my.activity.MyWalletActivity"/>
        <!--收支明细-->
        <activity android:name=".module.my.activity.ShouZhiMingXiActivity"/>
        <!--提现-->
        <activity android:name=".module.my.activity.TiXianActivity"/>
        <!--账户列表-->
        <activity android:name=".module.my.activity.AccountListActivity"/>
        <!--添加银行卡-->
        <activity android:name=".module.my.activity.AddBankCardActivity"/>



        <!--任务列表-->
        <activity android:name=".module.renwu.activity.RenWuDetailsActivity"/>

        <!--webview-->
        <activity android:name=".module.home.activity.WebActivity"/>

        <!--测亩工具-->
        <activity android:name=".module.my.activity.CeMuToolActivity"/>
        <!--增加作业范围-->
        <activity android:name=".module.my.activity.AddHomeworkScopeActivity"/>
        <!--作业范围-->
        <activity android:name=".module.my.activity.HomeworkScopeActivity"/>
        <!--添加工具-->
        <activity android:name=".module.my.activity.AddToolActivity"/>
        <!--我的工具-->
        <activity android:name=".module.my.activity.MyToolListActivity"/>
        <!--订单详情-->
        <activity android:name=".module.my.activity.OrderDetailsActivity"/>

    </application>

</manifest>